[include mainsail.cfg]
[include timelapse.cfg]
[include moonraker_obico_macros.cfg]
[include MCU_ID.cfg]
[include Macro.cfg]

[mcu]
serial: /dev/ttyS1
restart_method: command 

[mcu rpi]
serial: /tmp/klipper_host_mcu

[lis2dw hotend]
cs_pin: extra_mcu:PB8
spi_software_sclk_pin: extra_mcu:PB9
spi_software_mosi_pin: extra_mcu:PB12
spi_software_miso_pin: extra_mcu:PA10

[adxl345 bed]
cs_pin: rpi:None
spi_bus: spidev1.0

[resonance_tester]
accel_chip_x: lis2dw hotend
accel_chip_y: adxl345 bed
probe_points: 110,110,50
accel_per_hz:50
min_freq:20
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[display_status]

[pause_resume]

[force_move]
enable_force_move: True

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro START_PRINT]
gcode:
 BED_MESH_PROFILE LOAD=default ; Loads the mesh - now has to be done explicitly, not automatically loaded anymore

[hx711]
sclk_pin: extra_mcu:PB13
dout_pin: extra_mcu:PB15
single_pin: extra_mcu:PB5
hx711_diff: 0.001

[smart_effector]
pin:!extra_mcu:PB6
z_offset: 0.05
recovery_time:1.0
x_offset: 0
y_offset: 0
speed:5
probe_accel:50
samples: 3
samples_result: average
sample_retract_dist: 3.0
samples_tolerance: 0.05
samples_tolerance_retries:10

[stepper_x]
step_pin:PC2
dir_pin:PC1
enable_pin:!PC3
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:tmc2209_stepper_x:virtual_endstop
position_min:0
position_endstop:0
position_max:220
homing_speed:50
homing_retract_dist:0
homing_positive_dir:false

[tmc2209 stepper_x]
uart_pin: PB7
run_current:1.1
interpolate: True
driver_sgthrs: 105
stealthchop_threshold: 0
diag_pin: ^PC14

[stepper_y]
step_pin:PB4
dir_pin:PB3
enable_pin: !PB6
microsteps:16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop:0
position_max:235
homing_speed:50
homing_retract_dist:0
homing_positive_dir:false

[tmc2209 stepper_y]
uart_pin: PB5
run_current:1.1
interpolate: True
driver_sgthrs: 115
stealthchop_threshold: 0
diag_pin: ^PC13

[stepper_z]
step_pin:PC10
dir_pin:!PA15
enable_pin:!PD2
microsteps: 16
rotation_distance: 4
endstop_pin:probe:z_virtual_endstop
position_endstop: 0.0
position_max: 250
position_min: -5
homing_speed:5

[tmc2209 stepper_z]
uart_pin: PC11
run_current: 0.6
interpolate: True
stealthchop_threshold:999999

[stepper_z1]
step_pin:PB14
dir_pin:!PB15
enable_pin:!PB10
microsteps: 16
rotation_distance: 4
endstop_pin:probe:z_virtual_endstop

[tmc2209 stepper_z1]
uart_pin:PB13
run_current: 0.6
interpolate: True
stealthchop_threshold:999999

[extruder]
step_pin: extra_mcu:PA8
dir_pin: !extra_mcu:PA9
enable_pin: !extra_mcu:PB11
microsteps: 16
rotation_distance: 4.59
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin:extra_mcu:PB14
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5
max_power: 1
control :pid
pid_kp : 26.213 
pid_ki : 1.304
pid_kd : 131.721 
pressure_advance: 0.032
pressure_advance_smooth_time: 0.04
max_extrude_cross_section:500
instantaneous_corner_velocity: 10.000
max_extrude_only_distance: 150
max_extrude_only_velocity:5000
max_extrude_only_accel:2000
step_pulse_duration:0.000002
max_extrude_cross_section: 10  
min_temp: 0
max_temp: 305
min_extrude_temp: 150

[tmc2209 extruder]
uart_pin: extra_mcu:PB10
run_current: 0.6
uart_address:3
interpolate: True

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

[heater_bed]
heater_pin:PC9
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
max_power: 1.0
control = watermark
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 120


[verify_heater heater_bed]
max_error: 120
check_gain_time:120
hysteresis: 10
heating_gain: 2

[fan] # back model cooling fan
pin: extra_mcu:PB0 #FAN2
max_power: 1.0



[heater_fan hotend_fan]      
pin: extra_mcu:PA7 #FAN3
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 45              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013


[homing_override]
gcode:
   WEIGHTING_START_QUERY
   {% if not 'Z' in params and not 'Y' in params and 'X' in params %}
     G28 X
   {% elif not 'Z' in params and not 'X' in params and 'Y' in params %}
     G28 Y
   {% elif not 'Z' in params and 'X' in params and 'Y' in params %}
     G28 Y
     G4 P500
     G28 X
   {% elif 'Z' in params and not 'X' in params and not 'Y' in params %}
     G28 Z
     G0  Z10 F600
   {% else %}
     G90
     G0 Z10 F300
     G28 X
     G4 P500
     G28 Y
     G90
     G0  X110 Y110 F3600
     G28 Z
     G0  Z10 F600
   {% endif %}
axes: xyz
set_position_z: 0

[z_tilt]
z_positions: 10, 110
             210, 110
points: 10, 110
        210, 110
speed: 200
horizontal_move_z: 5
retries: 20
retry_tolerance: .05

#################################################
#bed mesh calibrate
#################################################
[bed_mesh]
speed:200                
horizontal_move_z:5   
mesh_min:10,10  
mesh_max:210,210 
probe_count:5,5      
algorithm: bicubic   
bicubic_tension: 0.3
fade_start: 0.2
fade_end: 10
mesh_pps:4,4
move_check_distance: 3
#split_delta_z: .025


[respond]
default_type: echo
default_prefix: echo:

[virtual_sdcard]
path: /home/mks/printer_data/gcodes
                                                          

[printer]
kinematics:cartesian
max_velocity: 500
max_accel: 10000
max_accel_to_decel: 3000
max_z_velocity: 10
max_z_accel: 1000



